
.container-custom{
    max-width: 95%;
    margin: 100px auto 40px auto;
}

.buttons-container .col{
    padding: 0 5px;
}

.textbox.form-control {
    padding: 8px;
    text-align: center;
}

.btn{
    width: 100%;
}

.popolazione {
    background-color: #6c757d;
    height: 228px;
    width: 100%;
}

.industria {
    background-color: #6c757d;
    height: 228px;
    width: 100%;
}